#page
{
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    background-color: #f5cea2;
}

.navbar
{
    background-color: #c45525;
}

h1, h2, h3, h4
{
    font-family: "Open Sans", sans-serif;
    color: black;
}
#logo
{
    display: flex;
    align-items: center;
}

.navbar-left
{
    margin-right: 10px;
}

.navbar-nav
{
    align-items: center;
}

.nav-item
{
    margin-right: 10px;
}

#footer
{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}
footer
{
    background-color: #c45525;
}