h1, h2, h3, h4, h5
{
    font-family: "Open Sans", sans-serif;
}

p
{
    font-family: "Scope One", sans-serif;
}

#user-details
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#user-banner
{
    min-height: 300px;
    background-image: url("images/bg1.59ef8c35eb1f.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -o-background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#user-banner h1
{
    background-color: #345a61;
    width: 50%;
    border-radius: 25px;
    font-size: 5em;
    color: #86ebe6;
    font-weight: bold;
    text-align: center;
    opacity: 0.85;
}

#bloc-email
{
    display: flex;
    justify-content: center;
    margin: 5%;
}

#email
{
    background-color: white;
    border: solid #c45525;
    border-radius: 10px;
    font-size: 2em;
    padding: 5px 20px ;

}