h1, h2, h3, h4, h5
{
    font-family: "Open Sans", sans-serif;
}

p
{
    font-family: "Scope One", sans-serif;
    font-size: 1.2em;
}

#page-detail
{
    display: flex;
    flex-direction: column;

    align-items: center;
}

#food-banner
{
    background-color: #345a61;
    background-repeat: no-repeat;
    -o-background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
}
#food-banner h1
{
    padding: 10px;
    color: #86ebe6;
}

#food-details
{
    font-size: 1.5em;
    margin-bottom: 20px;
}

#nutriscore-block
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
#nutritional-benchmarks
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#button-OpenFF
{
    margin: auto;
    position: center;

}

.img-nutriscore
{
    width: 240px;
    height: 130px;
}