h1, h2, h3, h4, h5
{
    font-family: "Open Sans", sans-serif;
}

p
{
    font-family: "Scope One", sans-serif;
}
#part-1
{
    min-height: 300px;
    background-image: url("images/bg2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -o-background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#text-part-1
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #345a61;
    width: 75%;
    border-radius: 25px;
    text-align: center;
    opacity: 0.90;
    padding: 2%;
}
#text-part-1 h1
{
    font-weight: bold;
}
#text-part-1 h1, #text-part-1 h2, #text-part-1 p
{
    color: #86ebe6;
}

#form-search
{
    font-size: 1.8em;
}

#button-search
{
    font-size: 1.8em;
}

#part-2
{
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#icons-remy-colette
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#icon-remy
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Scope One", sans-serif;

}

#icon-colette
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Scope One", sans-serif;
}

#part-3
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
}
#contact
{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;

}
#phone, #mail
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}