{% extends 'base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/account.css' %}">
{% endblock %}
{% block content %}
    {% if user %}
        <div class="container" id="user-details">
            <div class="container" id="user-banner">
                <h1>Ahoy<br/>{{user.first_name}}!</h1>
            </div>
            <div class="container" id="bloc-email">
                <p id="email">{{ user.email }}</p>
            </div>
        </div>
    {% else %}
        <span class="text-danger">Il n'y a aucun utilisateur ici.</span>
    {% endif %}
{% endblock %}