{% extends 'base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/home.css' %}">
{% endblock %}
{% block content %}
    <div class="container" id="part-1">
        <h1>Du gras, oui, mais de qualité!</h1>
        <h2>Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
        <form class="form-inline my-2 my-lg-3" >
            <input class="form-control mr-sm-2" type="search" placeholder="Chercher" aria-label="Search" id="form-search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" id="button-search">Chercher</button>
        </form>
    </div>
    <div class="container py-3 py-lg-5" id="part-2">
        <h2>Colette et Rémy</h2>
        <p>Notre restaurant, situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit pas.
            Notre spécialité, la ratatouille, nous attire une clientèle internationale charmée par les délices de ce plat typique.
            Amoureux de la gastronomie française, nous travaillons quotidiennement avec les meilleurs produits du terroir,
            nous affectionnons particulièrement la bonne chaire et partager notre passion.
        </p>
        <div class="container" id="icons-remy-colette">
            <div class="container" id="icon-colette">
                <img src="static/website/images/colette.png" width="150" height="200">
                Colette
            </div>
            <div class="container" id="icon-remy">
                <img src="static/website/images/remy.jpg" width="150" height="200">
                Rémy
            </div>
        </div>
    </div>
    <div class="container py-3 py-lg-5" id="part-3">
        <h2>Contactez-nous</h2>
        <div class="container py-3 py-lg-5" id="contact">
            <div class="container" id="phone">
                <i class="fas fa-phone-alt fa-3x"></i>
                <p>0000000000</p>
            </div>
            <div class="container" id="mail">
                <div class="fas fa-envelope fa-3x"></div>
                <p>mail@mail.com</p>
            </div>
        </div>


    </div>
{% endblock %}