<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap/css/styles.css' %}">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.ico' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/legal_notice.css' %}">
    <title>Mentions Légales</title>
</head>
    <body>
        <div id="legal_notice">
            <h1><strong>mentions légales</strong></h1>
            <p>Développé par : <a href="https://github.com/micktymoon">Céline PELLETIER</a></p>
            <p>Développé avec : Django</p>
            <p>Template : <a href="https://startbootstrap.com/theme/creative">Bootstrap</a></p>
            <p>Photos page d'accueille par : <a href="https://unsplash.com/@kawin">Kawin Harasai</a></p>
            <p>Icône carrotte par : <a href="https://thenounproject.com/FabienJ/">Fabien Jouin</a></p>
            <p>Logos, photos de Colette et Rémy et charte graphique par : <a href="https://openclassrooms.com/fr/">Openclassrooms</a></p>
            <p>Hébergeur : <a href="https://www.heroku.com/home">Heroku</a></p>
            <p>Adresse de l'hébergeur :  415 Mission Street, Suite 300, San Francisco, CA 94105 </p>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>