{% extends 'base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/home.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="title">Log in</h1>

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="button btn-primary" type="submit">Log in</button>
        </form>
    </div>
    <div class="container">
    <p class="signup">Vous n'avez pas encore de compte? <a href="/signup/">Créez-en un!</a></p>
    </div>
{% endblock %}