{% extends 'base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/search.css' %}">
{% endblock %}
{% block content %}
    {% block page-dif %}
        <div class="container" id="food-wanted-banner">
            <h1>Votre recherche</h1>
        </div>
        <form method="post" action="/recherche/">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary" type="submit">Rechercher</button>
        </form>
    {% endblock %}
    <div class="container" id="list-product">
        <div class="container row">
            {% if products %}
                {% for product in products %}
                    <div class="col-sm-12 col-md-4 card-food">
                        <p class="nutri-score">{{ product.nutri_score.capitalize }}</p>
                        <div class="card">
                            <img class="card-img-top" src="{{product.url_image}}" alt="Card image cap">
                            <div class="card-body">
                                <a href="{% url 'detail' product.id %}"><p class="card-title">{{ product.name }}</p></a>
                                <a class="far fa-save fa-sm" href="{% url 'save' product.id %}">Sauvegarder</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <span class="text-danger">Il n'y a aucun produit ici.</span>
            {% endif %}
        </div>
    </div>

{% endblock %}